
#container>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 30px;
}
#count{
    display: flex;
    width: 40%;
    height: 30px;;
    justify-content: space-around;
}
#count>div:first-child{
cursor: pointer;
}
#count>div:last-child{
    cursor: pointer;
    }
#count>div{
    border: 1px solid;
    height: 100%;
    width: 33%;
    display: flex;
   justify-content: center;
   align-items: center;
}
h1{
    text-align: end;
    margin-right: 50px;
}

/* button{
    height: 40px;
    background-color: aqua;
    text-align:right ;
    position: fixed;
    margin: -20px 0px 0px 1060px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
button:hover{
    background-color: black;
    color: white;
} */
p+div{
    display: flex;
    align-items: center;
    gap: 20px;
}
